<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexus | Chat</title>
    <link rel="stylesheet" href="/chat.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <h1 class="center-text">Nexus AI Chatbot</h1>
    <h2>with Web Speech API</h2>
    <button class="circle-icon">
        <box-icon type='solid' name='microphone' style="font-size: 90%;"></box-icon>
    </button>
    <div class="chat-container">
        <div class="chat">
            <div class="user">User:</div>
            <div class="bot">Bot:</div>
        </div>
    </div>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script type="module">
        import { io } from "https://cdn.socket.io/4.7.4/socket.io.esm.min.js";
        
        const socket = io.connect("http://localhost:3000")

        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        if (!SpeechRecognition) {
            console.error("Speech recognition not supported in this browser.");
        } else {
            const recognition = new SpeechRecognition();
            recognition.lang = 'en-US'; 

            recognition.addEventListener('result', (event) => {
                const transcript = event.results[0][0].transcript;
                console.log(transcript)
                document.getElementsByClassName("user")[0].innerHTML = `User: ${transcript}`
                socket.emit('chat message', transcript);
            });

            recognition.addEventListener('error', (event) => {
                console.error('Speech recognition error:', event.error);
            });

            const button = document.querySelector('button');
            if (button) {
                button.addEventListener('click', () => {
                    try {
                        recognition.start();
                        console.log('Speech recognition started.');
                    } catch (error) {
                        console.error('Failed to start speech recognition:', error);
                    }
                });
            } else {
                console.error('Button not found.');
            }
        }

        function synthVoice(text) {
            const synth = window.speechSynthesis;
            const utterance = new SpeechSynthesisUtterance();
            utterance.text = text;
            synth.speak(utterance);
        }


        socket.on('response', (res) => {
            document.getElementsByClassName("bot")[0].innerHTML = `Bot: ${res}`
            synthVoice(res)
            console.log(`Response: ${res}`)
        })
    </script>
</body>
</html>

